@model ZeroDaySocial.Models.ZeroDayTwitterUser

<p>
    @if (Model != null)
    {
        @Model.Name<br />
        @Model.ScreenName<br />
        @Model.TwitterId<br />
    }
    else
    {
    <p>
        <a href="http://localhost:61624/twitterauthentication/twitterauth">LOGIN</a>
    </p>
}
    </p>

    <div class="container">
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-6">&nbsp;</div>
            <div class="col-6">
                User..........<input type="text" id="userInput" />
                <br />
                Message...<input type="text" id="messageInput" />
                <input type="button" id="sendButton" value="Send Message" />
                <input type="button" id="twitterButton" value="Get Stream" />
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-6">&nbsp;</div>
            <div class="col-6">
                <ul id="messagesList"></ul>
            </div>
        </div>
    </div>
    @*<script src="~/js/chat.js"></script>
        <script src="~/js/es5-chat.js"></script>*@
    @section scripts
        {
        <script src="~/dist/signalr/signalr.js"></script>
        <script type="text/javascript">
            var twitterId = '@Model?.TwitterId';
            var clientId = '';

            const connection = new signalR.HubConnectionBuilder()
                .withUrl("http://localhost:55735/twitterStreamerHub")
                .build();

            connection.on("GetStream", (user, message) => {
                const msg = message.replace(/&/g, "&amp;").replace(/</g, "&lt;").replace(/>/g, "&gt;");
                const encodedMsg = user + " says " + msg;
                const li = document.createElement("li");
                li.textContent = encodedMsg;
                document.getElementById("messagesList").appendChild(li);
            });

            connection.on("Handshake", (data) => {
                console.log("Hello, " + data);
                clientId = data;
            });

            connection.start().catch(err => console.error(err.toString()));

            document.getElementById("sendButton").addEventListener("click", event => {
                const user = document.getElementById("userInput").value;
                const message = document.getElementById("messageInput").value;
                connection.invoke("SendMessage", user, message).catch(err => console.error(err.toString()));
                event.preventDefault();
            });

            document.getElementById("twitterButton").addEventListener("click", event => {
                test();
            });

            console.log(twitterId);

            function test() {
                console.log("TESTING")
                var request = new XMLHttpRequest();
                request.open("GET", "http://localhost:55735/api/twitterapi/startstreamer?twitterId=" + twitterId + "&clientId=" + clientId);
                request.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        console.log(request.responseText);

                    }
                };

                request.send();
            }

        </script>
    }